In [1]:
import pandas as pd
data = pd.read_csv('kindle_sentiment/all_kindle_review.csv')
data

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000
...,...,...,...,...,...,...,...,...,...,...,...
11995,11995,2183,B001DUGORO,"[0, 0]",4,Valentine cupid is a vampire- Jena and Ian ano...,"02 28, 2014",A1OKS5Q1HD8WQC,lisa jon jung,jena,1393545600
11996,11996,6272,B002JCSFSQ,"[2, 2]",5,I have read all seven books in this series. Ap...,"05 16, 2011",AQRSPXLNEQAMA,TerryLP,Peacekeepers Series,1305504000
11997,11997,12483,B0035N1V7K,"[0, 1]",3,This book really just wasn't my cuppa. The si...,"07 26, 2013",A2T5QLT5VXOJAK,hwilson,a little creepy,1374796800
11998,11998,3640,B001W1XT40,"[1, 2]",1,"tried to use it to charge my kindle, it didn't...","09 17, 2013",A28MHD2DDY6DXB,"Allison A. Slater ""Gryphon50""",didn't work,1379376000
11999,11999,11398,B003370JUS,"[5, 6]",3,Taking Instruction is a look into the often hi...,"07 5, 2012",A3JUXLB4K9ZXCC,Dafna Yee,"If you like BDSM with a touch of romance, this...",1341446400

In [3]:
df = data[['reviewText','rating']]
df

                                              reviewText  rating
0      Jace Rankin may be short, but he's nothing to ...       3
1      Great short read.  I didn't want to put it dow...       5
2      I'll start by saying this is the first of four...       3
3      Aggie is Angela Lansbury who carries pocketboo...       3
4      I did not expect this type of book to be in li...       4
...                                                  ...     ...
11995  Valentine cupid is a vampire- Jena and Ian ano...       4
11996  I have read all seven books in this series. Ap...       5
11997  This book really just wasn't my cuppa.  The si...       3
11998  tried to use it to charge my kindle, it didn't...       1
11999  Taking Instruction is a look into the often hi...       3

[12000 rows x 2 columns]

In [5]:
df['rating'].value_counts()

rating
5    3000
4    3000
3    2000
2    2000
1    2000
Name: count, dtype: int64

In [7]:
# positive review 1 and negative review 0
df.loc[:,'rating']=df['rating'].apply(lambda x:0 if x<=3 else 1)

In [9]:
df['rating'].value_counts()

rating
0    6000
1    6000
Name: count, dtype: int64

In [11]:
df.loc[:,'reviewText']=df['reviewText'].apply(lambda x: x.lower())

In [13]:
df.head()

                                          reviewText  rating
0  jace rankin may be short, but he's nothing to ...       0
1  great short read.  i didn't want to put it dow...       1
2  i'll start by saying this is the first of four...       0
3  aggie is angela lansbury who carries pocketboo...       0
4  i did not expect this type of book to be in li...       1

In [15]:
import re
import nltk
from nltk.corpus import stopwords

In [ ]:
# Removing special charaters
df.loc[:,'reviewText']=df['reviewText'].apply(lambda x: re.sub('[^a-z A-Z 0-9]','',x))
# Removing the stopwords
df.loc[:,'reviewText']=df['reviewText'].apply(lambda x:" ".join([y for y in x.split() if y not in stopwords.words('english')]))

In [35]:
# check for url and remove URL
df['reviewText'].apply(lambda x: re.search('https?://[^\s]+(\.com|\.org|\.net)',x))

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Ramcharan\AppData\Local\Temp\ipykernel_10800\1545105592.py:2: SyntaxWarning: invalid escape sequence '\s'
  df['reviewText'].apply(lambda x: re.search('https?://[^\s]+(\.com|\.org|\.net)',x))

0        None
1        None
2        None
3        None
4        None
         ...
11995    None
11996    None
11997    None
11998    None
11999    None
Name: reviewText, Length: 12000, dtype: object

In [39]:
# Function to extract HTML tags
def extract_html_tags(value):
    return re.findall(r'<[^>]+>', str(value))

# Apply the function to extract HTML tags
dd = df['reviewText'].apply(extract_html_tags)

print(dd)

0        []
1        []
2        []
3        []
4        []
         ..
11995    []
11996    []
11997    []
11998    []
11999    []
Name: reviewText, Length: 12000, dtype: object

In [43]:
# Remove any additional spaces
df.loc[:,'reviewText']=df['reviewText'].apply(lambda x:' '.join(x.split()))

##### Lemmatization

In [48]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [54]:
from nltk.tokenize import word_tokenize
# Define a function to lemmatize text
def lemmatize_text(text):
    tokens = word_tokenize(text)  # Tokenize the text
    lemmatized = [lemmatizer.lemmatize(token) for token in tokens]  # Lemmatize each word
    return ' '.join(lemmatized)  # Join tokens back into a single string

In [60]:
# Apply the function to the reviewText column
df.loc[:,'reviewText'] = df['reviewText'].apply(lemmatize_text)

##### Train Test split

In [64]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df['reviewText'],df['rating'],test_size=0.25)

In [66]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
X_train_tfidf = tfidf.fit_transform(X_train).toarray()
X_test_tfidf = tfidf.transform(X_test).toarray()

In [68]:
X_train_tfidf

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [70]:
from sklearn.naive_bayes import GaussianNB
nb_model_tfidf = GaussianNB().fit(X_train_tfidf,y_train)

In [72]:
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

In [78]:
y_pred_tfidf = nb_model_tfidf.predict(X_test_tfidf)

In [79]:
confusion_matrix(y_test,y_pred_tfidf)

array([[1048,  429],
       [ 601,  922]], dtype=int64)

In [82]:
accuracy_score(y_test,y_pred_tfidf)

0.6566666666666666

In [93]:
import gensim
import numpy as np

In [98]:
from sklearn.ensemble import GradientBoostingClassifier

In [106]:
from gensim.models import Word2Vec

# Step 1: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df['reviewText'], df['rating'], test_size=0.25, random_state=42)

# Step 2: Tokenize the text data (Word2Vec requires tokenized input)
X_train_tokens = X_train.apply(lambda x: x.split())
X_test_tokens = X_test.apply(lambda x: x.split())

# Step 3: Train a Word2Vec model on the training data
w2v_model = Word2Vec(sentences=X_train, vector_size=100, window=5, min_count=1, workers=4, seed=42)

# Step 4: Create a function to convert each review to a single vector by averaging word vectors
def vectorize_text(tokens, model, vector_size=100):
    """
    Convert a list of tokens into a single vector by averaging their Word2Vec embeddings.
    If a token is not in the model, it is ignored.
    """
    vectors = [model.wv[word] for word in tokens if word in model.wv]
    if len(vectors) > 0:
        return np.mean(vectors, axis=0)
    else:
        # Return a zero vector if none of the tokens are in the Word2Vec vocabulary
        return np.zeros(vector_size)

# Step 5: Vectorize the training and testing data
X_train_vectors = np.array([vectorize_text(tokens, w2v_model) for tokens in X_train])
X_test_vectors = np.array([vectorize_text(tokens, w2v_model) for tokens in X_test])

# Step 6: Train a Naive Bayes model using the Word2Vec features
xg_boost_model = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0, max_depth=1, random_state=0)
xg_boost_model.fit(X_train_vectors, y_train)

# Step 7: Evaluate the model
accuracy = xg_boost_model.score(X_test_vectors, y_test)
print(f"Accuracy of the Naive Bayes model using Word2Vec: {accuracy:.2f}")

Accuracy of the Naive Bayes model using Word2Vec: 0.61